{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div style="display: flex;">
    {% for item in menu.menu %}
    <div>
        <p
            style="border: 1px solid black; background-color: aliceblue; border-radius: 10px; width: 200px; padding: 3px; text-align: center; margin: 10px;">
            <img width="200px" style="border-radius: 5px;" height="200px" src="{{item.image.url}}"
                alt="{{ item.name}}" /><br>
            <a href="{% url 'menu_item' pk=item.pk %}">
                {{ item.name }}
            </a>
            <span class="menu-price">
                Rs.{{ item.price }}.00
            </span>
            {% if user.is_authenticated %}
        <form style="margin-left: auto; margin-right: auto;" action="{% url 'add_to_cart' menu_id=item.pk %}"
            method="POST" style="margin-top: 10px;">
            {% csrf_token %}
            <button style="margin-left: auto; margin-right: auto;" type="submit">Add to Cart</button>
        </form>
        {% else %}
        <a style="color: gold;" class="nav-link" href="/login">Login </a>to add to cart and Order.
        {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
<!--End col-->
{% endblock %}