{% extends 'base.html' %}

{% block content %}
<style>
    .Rejected{
        color: yellow;
        background-color: red;
        font-weight: bold;
        width: 150px;
        border-radius: 5px;
        padding: 5px;
    }
    .Pending{
        color: white;
        background-color: skyblue;
        font-weight: bold;
        width: 150px;
        border-radius: 5px;
        padding: 5px;

    }
    .Preparing,.Enroute,.Completed{
        color: white;
        background-color: goldenrod;
        font-weight: bold;
        width: 150px;
        border-radius: 5px;
        padding: 5px;
    }
</style>
<h1>Order #{{ order.id }}</h1>
<p>Created at: {{ order.created_at }} <span class='{{order.status}}'>{{order.status}}</span></p>

{% for item in order.orderitem_set.all %}
<div
    style="margin-bottom: 20px; background-color: beige; padding: 10px;border-radius: 10px; border: 1px solid burlywood;height: 85px;">
    <img style="float: left; margin: 5px; width: 130px; height: 80px; border-radius: 10px;"
        src="\restaurant\static\img\{{ item.menu.name }}.jpg" class="card-img-top" alt="{{ item.menu.name }}">
    <h3 style="margin: 0;">{{ item.menu.name }}</h3>
    <p style="margin: 0; font-size: small;">Quantity: {{ item.quantity }}</p>
    <p style="margin: 0; font-size: small;">Price: Rs.{{ item.menu.price|floatformat:2 }}</p>
    <p style="margin: 0; font-size: small;">Subtotal: Rs.{{ item.menu.price }} * {{ item.quantity|floatformat:2 }}</p>
</div>

{% empty %}
<div class="alert alert-info" role="alert">
    No Items
</div>
{% endfor %}

{% if order.items.all %}
<div style=" margin-bottom: 20px;">
    <div>
        <h5>Total:</h5>
        <p>${{ total|floatformat:2 }}</p>
    </div>
</div>
{% endif %}
{% endblock %}